@media screen and (max-width: 900px) {
  #f12 {
    display: none;
  }
  #f11 {
    width: 350px;
    height: 350px;

    top: 30px;
    left: -50px;
  }

  .stars {
    width: 10px;
    height: 10px;
  }

  #s36,
  #s34,
  #s33,
  #s35 {
    top: 0;
  }

  .contactCol1 {
    display: none;
  }

  .contactheading {
    font-size: 32px;
    font-family: ClashDisplay;
    font-weight: bold;
  }

  .contactCol2 {
    display: flex;
    flex-direction: row;
    width: 390px;
    align-items: center;
    height: 693px;
  }

  .contactformtitle {
    width: 100%;
    font-family: clashdisplay;
    line-height: 30px;
    font-size: 20px;
    font-weight: 100;
    /* background-color: aqua; */
  }

  .mobiletext {
    width: 100%;
    font-size: 12px;
    font-family: montserrat;
    line-height: 22px;
    color: white;
    display: flex;
  }

  .contactformCont,
  .registerFormCont {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 614px;
    opacity: 1;
    background-color: transparent;
    border-radius: 12px;
    padding: 0px 46px;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    box-sizing: border-box;
    border-style: none;
  }

  input {
    width: 298px;
    height: 47px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 0px 27px;
    box-sizing: border-box;
  }

  .message input {
    height: 160px;
  }

  .register {
    height: 844px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    box-sizing: border-box;
    padding: 30px 0px;
    border-style: none;
    border-width: 0px;
    margin: 0px;
    align-items: center;
    width: 390px;
  }

  .registercol1 {
    /* width: 390px; */
    display: flex;
    align-items: center;
    height: 155px;
    justify-content: center;
    padding: 50px 0px;
    box-sizing: content-box;
  }

  .registercol1 img {
    width: 155px;
  }

  .registerFormCont {
    height: 616px;
    width: 390px;
    padding: 20px 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

  .contactformtitle p {
    margin: 0px;
  }

  .contactformtitle .CYA {
    font-size: 20px;
  }

  .formdoublecol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 390px;
    height: 323px;
    /* padding: 0px 40px; */
    box-sizing: border-box;
    align-items: center;
    /* background-color: #d434fe; */
  }

  .formdoublecol input {
    width: 263px;
    height: 39px;
  }

  .formcol1,
  .formcol2 {
    display: inline;
    flex-direction: column;
    justify-content: space-between;
    height: 187px;
    color: white;
    font-family: montserrat;
    font-size: 13px;
    width: 263px;
    padding-bottom: 20px;
    /* align-items: center; */

    line-height: 10px;
  }

  .formcol1 p,
  .formcol2 p {
    margin: 0px;
    padding: 10px 0px;
    width: 90px;
  }

  .projectT input {
    width: 155px;
  }

  .groupS input {
    width: 87px;
  }

  .formcol2 .projectT,
  .formcol2 .groupS {
    float: left;
  }

  .projectT {
    padding-right: 18px;
  }

  .registerFormCont .basetext {
    height: 76px;
    padding: 20px 0px;

    display: flex;
    flex-direction: column;
  }

  .congratsNoOverlay {
    display: none;
  }

  .congratsOverlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 14, 40, 0.93);
    width: 100%;
    height: 100%;
    z-index: 20;
    background-blend-mode: overlay;
  }

  .congratsBox {
    width: 80%;
    height: 467px;
    padding: 32px;
    border-style: solid;
    border-image: linear-gradient(to right, #d434fe, #903aff) 1;
    background-image: none;
    border-style: solid;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .congratsImg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .successdone {
    margin-right: -120px;
    width: 174px;
  }

  .successman {
    width: 185px;
  }

  .congratsText {
    font-family: montserrat;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .emoji {
    margin-bottom: -5px;
  }
}
