/* .contacts {
  display: flex;
  align-items: first baseline;
}

.contactsIcon {
  display: flex;
  width: 26px;
}

.footerRow2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
  height: 20px;
  font-size: 12px;
} */

.contact {
  height: 837px;
}

.contactCol1 {
  font-family: montserrat;
  font-size: 16;
  color: white;
  line-height: 25px;
  width: 480px;
  padding-left: 57px;
}

.contactheading {
  font-size: 32px;
  font-family: ClashDisplay;
  font-weight: bold;
}

.contactCol2 {
  display: flex;
  flex-direction: row;
  width: 715px;
  align-items: center;
}

.contactformtitle {
  width: 437px;
  font-family: clashdisplay;
  line-height: 30px;
  font-size: 20px;
  font-weight: 100;
}

.mobiletext {
  display: none;
}

.registerFormCont .contactformtitle,
.basetext {
  width: 100%;
}

.contactformCont,
.registerFormCont {
  display: flex;
  flex-direction: column;
  width: 497px;
  height: 481px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  padding: 70px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 4px rgba(7, 7, 7, 0.241);
}

input {
  width: 377px;
  height: 47px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 0px 30px;
}

.message input {
  height: 119px;
}

.register {
  height: 848px;
}

.registercol1 {
}

.registerFormCont {
  height: 600px;
  width: 600px;
}

.formdoublecol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 560px;
  height: 288px;
}

.formdoublecol input {
  width: 203px;
  height: 47px;
}

.formcol1,
.formcol2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 281px;
  color: white;
  font-family: montserrat;
  font-size: 14px;
}

.congratsOverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(21, 14, 40, 0.93);
  width: 100%;
  height: 100%;
  z-index: 20;
  background-blend-mode: overlay;
}

.congratsBox {
  width: 590px;
  height: 554px;
  padding: 55px;
  border-style: solid;
  border-image: linear-gradient(to right, #d434fe, #903aff) 1;
  background-image: none;
  border-style: solid;
  border-radius: 4px;
}

.congratsImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.successdone {
  margin-right: -180px;
}

.congratsText {
  font-family: montserrat;
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.emoji {
  margin-bottom: -5px;
}
