@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Bold.woff") format("woff"),
    url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("/Fonts/montserrat/Montserrat-Regular.woff");
  font-weight: 100;
}

@font-face {
  font-family: "montserrat";
  src: url("/Fonts/montserrat/Montserrat-BoldItalic.woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Unica";
  src: url("/Fonts/Others/UnicaOne-Regular.woff");
  font-weight: 100;
}

@font-face {
  font-family: "MadeTommy";
  src: url("/Fonts/Others/MADETOMMYOutline-Bold.woff"),
    url("/Fonts/Others/MADETOMMYOutline-Bold.woff2"),
    url("/Fonts/Others/MADETOMMYOutline-Bold.eot");
  font-weight: bold;
}

body {
  background-color: #150e28;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1512px;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.respMenu {
  display: none;
}

.backToTop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.416);
  font-size: 30px;
  z-index: 40;
  color: black;
  font-family: montserrat;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
  height: 92px;
  padding: 0dvh 122px;
  margin-top: 48px;
  align-items: center;

  border-style: none none solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.352);
}

.logoContainer {
  width: 539px;
}

.logo a {
  text-decoration: none;
}

.logo a p {
  font-family: "ClashDisplay";
  font-weight: bold;
  font-size: 32px;
  color: white;
}

.logo a p span,
.heading1 span {
  color: #d434fe;
}

.topnav {
  display: flex;
  flex-direction: row;
  width: 716px;
}

.navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 425px;
  justify-content: space-between;
}
.navlinks a {
  color: white;
  text-decoration: none;
  display: flex;
  font-family: montserrat;
  font-size: 16px;
}

.RegButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 294px;
  justify-content: center;
}

.regbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 53px;
  width: 172px;
  background-image: linear-gradient(to right, #d434fe, #903aff);
  border-radius: 4px;
  font-family: montserrat;
  color: #ffff;
  font-size: 16;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.Banner,
.introduction,
.RulesnGuide,
.judgeingCriteria,
.FAQ,
.timeline,
.prize,
.PnSp,
.PPnT,
.contact,
.register {
  display: flex;
  flex-direction: row;
  height: 604px;
  padding: 0px 130px;
  align-items: center;
  border-style: none none solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.352);
}

.setback {
  color: white !important;
}

.judgeingCriteria {
  height: 977px;
}
.FAQ {
  height: 925px;
}

.section1 {
  display: flex;
  flex-direction: column;
  width: 1512px;
  margin: 0px;
}

.section1_1 {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: montserrat;
  font-style: italic;
  color: white;
  font-size: 36px;
  line-height: 3px;
}

.section1_1 p {
  margin-bottom: 20px;
}

.curveunderline {
  margin: 0px;
}
.curveunderline .svg {
  width: 255px;
}

.Banner {
  display: flex;
  flex-direction: row;
  height: 692px;
}

.BannerCol1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  width: 600px;
  position: relative;
}

.BannerCol1 img {
  display: flex;
  position: absolute;
}

.creative {
  top: -48px;
  right: 30px;
}

.chain {
  top: 105px;
  right: -60px;
}

.element {
  top: 115px;
  right: -130px;
}

.heading1 {
  font-family: clashdisplay;
  font-size: 80px;
  color: white;
  margin: 0px;
}

.bodytext {
  font-size: 20px;
  font-family: montserrat;
  font-weight: 100;
  color: white;
}
.BannerCol1 .bodytext {
  margin: 20px 0px 100px;
  box-sizing: border-box;
  line-height: 40px;
}
.countdown {
  display: flex;
  flex-direction: row;
  font-family: unica;
  color: white;
  font-size: 64px;
  width: 293px;
  justify-content: space-between;

  line-height: 10px;
  height: 64px;
  align-items: center;
  padding-top: 98px;
}

.countdown span {
  font-family: montserrat;
  font-size: 14px;
  font-weight: 100;
}

.Bannercol2 {
  display: flex;
  position: relative;
  width: 800px;
  padding: 0px;
  margin-right: -190px;

  justify-content: end;
}

.Bannercol2 .img1 {
  object-fit: cover;

  object-position: 1% 1%;
  height: 692px;
  width: 800px;

  right: 0px;
  top: 0px;
}

.Bannercol2 .img2 {
  position: absolute;
  top: 0px;

  right: 70px;

  object-fit: fill;
  height: 635px;
}

.sec_col1 {
  position: relative;
  width: 700px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec_col1 .introimg1 {
  position: absolute;
}

.sec_col1 .img2 {
  position: absolute;
  bottom: -260px;
  right: 180px;
}

.elipBI {
  width: 134px;
  height: 134px;
  background-image: linear-gradient(to right, #d434fe, #903aff);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

#eli1 {
  right: 100px;
  top: 80px;
}

#eli2 {
  left: 90px;
  top: -20px;
}
.sec_col2 {
  width: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec_col2 .img1 {
  position: absolute;
}

.sec_col2 .img2 {
}

.secHeadings {
  color: white;
  font-family: clashdisplay;
  font-size: 32px;
}
.secHeadings span,
.secbodytext span,
.secbodytextBold span,
.contact span,
.register span {
  color: #d434fe;
}

.secbodytext,
.secbodytextBold {
  color: white;
  font-family: montserrat;
  font-size: 14px;
  line-height: 27.5px;
}

.secbodytextBold {
  font-weight: bold;
}

#secbodytext1 {
  padding-right: 160px;
}

.secbodytext span {
  font-size: 16px;
  font-weight: bold;
}

.JudgingCriteriaBox {
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#JudgeCrite {
  line-height: 20px;
}

.JudgeCriteBt {
  margin-top: 60px;
}

.FAQboxCont {
  display: flex;
  flex-direction: column;
  height: 375px;
  justify-content: space-between;
}

.FAQbox {
  display: flex;
  width: 430px;
  height: 41px;
  justify-content: space-between;
  border-style: none none solid;
  border-width: 1px;
  border-color: #d434fe;
  padding-bottom: 10px;
}

.FAQ .sec_col2 {
  position: relative;
}
.quesMk p {
  display: flex;
  position: absolute;
  font-family: MadeTommy;
  color: white;
  font-size: 59px;
  top: 0px;
  left: 0px;
}

.quesMk #q1 {
  font-size: 96px;
  color: #d434fe;
  top: -150px;
  left: 60px;
}
.quesMk #q2 {
  font-size: 128px;
  color: #d434fe;
  top: -240px;
  left: 160px;
}

.quesMk #q3 {
  font-size: 96px;
  color: #d434fe;
  top: -150px;
  left: 300px;
}

.timeline {
  flex-direction: column;
  height: 1467px;
  justify-content: center;
}
.timelinerow1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1250px;
}
#centertextalign {
  text-align: center;
  line-height: 20px;
}

.timelinerow2 {
  display: flex;
  flex-direction: column;

  position: relative;
}

.timelinerow2line1 {
  margin-top: 150px;
  display: flex;
}

.timelinerow2line2 {
  margin-top: 7px;
  display: flex;
}

.timelineDesignEl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.timelineline,
.timelineline2 {
  height: 177px;
  width: 4px;
  background-color: #d434fe;
  position: absolute;
  bottom: 0;
}
.timelineline2 {
  height: 147px;
}

.timelineCircleContainer {
  position: relative;
}

.timelineCircle {
  width: 53px;
  height: 53px;
  background-image: linear-gradient(to right, #d434fe, #903aff);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  border-style: solid;
  border-color: #150e28;
  border-width: 12px;
}

.timelineTextCont {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  width: 1250px;
  align-items: center;
  font-family: montserrat;
  font-size: 14px;
  line-height: 20px;
}

.timelineTextCont2 {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  width: 1250px;
  align-items: center;
  font-family: montserrat;
  font-size: 14px;
  line-height: 20px;
}

.timelinerow2_col1 {
  width: 520px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
}

.timelinerow2_col2 {
  width: 495px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timelineTextHeading,
.timelineCircle {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  line-height: 30px;
}

.prize {
  display: flex;
  height: 930px;
}

.prizeCol1 {
  width: 560px;
}

.prizeCol2 {
  width: 690px;
}

.prizeCol2Line1 {
  padding: 0px 150px;
}

.prizeCol2Line2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 690px;
  height: 594px;
  justify-content: space-between;
  position: relative;

  padding-top: 10px;
}

.secondCont,
.firstCont,
.thirdCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstCont img {
  display: flex;
  position: relative;
  margin-top: -60px;
  margin-bottom: -160px;
}

.secondCont img,
.thirdCont img {
  display: flex;
  position: relative;
  margin-bottom: -105px;
}

.ndtext,
.sttext,
.rdtext {
  width: 212px;
  height: 296px;
  border-style: solid;
  border-color: #d434fe;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-family: Montserrat;
  color: white;
  line-height: 0px;
  font-size: 24px;
  font-weight: 400;
  background-color: #d634fe17;
}

.sttext {
  height: 347px;
  background-color: #8f3aff33;
}

.position {
  font-family: montserrat;
  font-size: 36px;
  font-weight: bold;
  background-color: rgb(9, 58, 100);
  margin: 0px 0px 15px 0px;
}

.amount {
  font-family: montserrat;
  font-size: 32px;
  font-weight: bold;
  color: #d434fe;
  background-color: #150e28;
  margin: 18px 0px 60px 0px;
}

.PnSp {
  flex-direction: column;
  height: 987px;
  padding-bottom: 160px;
  justify-content: center;
}
.PnSprow1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1250px;
}

.PnSprow1 .secbodytext {
  box-sizing: border-box;
  padding: 0px 390px;
}

.PnSpContainer {
  display: flex;
  flex-direction: column;
  width: 1255px;
  height: 550px;
  border-style: solid;
  border-width: 2px;
  border-color: #d434fe;
  align-items: center;
  justify-content: center;
  margin-top: 74px;
}
.PnSpLogos {
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PnSpline1,
.PnSpline2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 905px;
}

.vertLines {
  display: flex;
  height: 112px;
  width: 4px;
  background-color: #d434fe;
}

.horiLines {
  width: 257px;
  height: 4px;
  background-color: #d434fe;
}

.PnSpLogo1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 289px;
}

.PnSpLogo2 {
  display: flex;
  width: 317px;
  justify-content: center;
}

.PnSpline2 {
  justify-content: space-between;
}

.PPnT {
  height: fit-content;
  padding: 140px;
  padding: ;
}

.PPnTBox {
  display: flex;
  flex-direction: column;
  width: 425px;
  height: 500px;
  border-style: solid;
  padding: 55px 72px;
  border-width: 1px;
  border-color: #d434fe;
  border-radius: 5px;
  margin-top: 75px;
}

.secbodytextBold #LP {
  font-size: 16px;
}

.checks {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 30px;
}

.checkcontainer {
  width: 38px;
  padding-top: 5px;
}

.checkCircle {
  width: 17px;
  height: 17px;
  background-color: #2de100;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checks .secbodytext {
  margin: 0px;
}

.PPnTvector {
  margin-bottom: -460px;
}

.PPnT .sec_col2 {
  align-items: center;
  justify-content: center;
}

.PPnT .sec_col1 {
  padding: 0px 50px;
}

.contact {
  height: 837px;
}

.contactCol1 {
  font-family: montserrat;
  font-size: 16;
  color: white;
  line-height: 25px;
  width: 480px;
  padding-left: 57px;
}

.contactheading {
  font-size: 32px;
  font-family: ClashDisplay;
  font-weight: bold;
}

.contactCol2 {
  display: flex;
  flex-direction: row;
  width: 715px;
  align-items: center;
}

.contactformtitle {
  width: 437px;
  font-family: clashdisplay;
  line-height: 30px;
  font-size: 20px;
  font-weight: 100;
}

.registerFormCont .contactformtitle,
.basetext {
  width: 100%;
}

.contactformCont,
.registerFormCont {
  display: flex;
  flex-direction: column;
  width: 497px;
  height: 481px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  padding: 70px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 4px rgba(7, 7, 7, 0.241);
}

input {
  width: 377px;
  height: 47px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 0px 30px;
}

.message input {
  height: 119px;
}

.register {
  height: 848px;
}

.registercol1 {
}

.registerFormCont {
  height: 600px;
  width: 600px;
}

.formdoublecol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 560px;
  height: 288px;
}

.formdoublecol input {
  width: 203px;
  height: 47px;
}

.formcol1,
.formcol2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 281px;
  color: white;
  font-family: montserrat;
  font-size: 14px;
}

.congratsOverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(21, 14, 40, 0.93);
  width: 100%;
  height: 100%;
  z-index: 20;
  background-blend-mode: overlay;
}

.congratsBox {
  width: 590px;
  height: 554px;
  padding: 55px;
  border-style: solid;
  border-image: linear-gradient(to right, #d434fe, #903aff) 1;
  background-image: none;
  border-style: solid;
  border-radius: 4px;
}

.congratsImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.successdone {
  margin-right: -180px;
}

.congratsText {
  font-family: montserrat;
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.emoji {
  margin-bottom: -5px;
}
